# OS
.DS_Store

# Ruby, Jekyll & preprocessors
.jekyll-metadata
.ruby-version
.sass-cache
_site/

# External libraries & processed files
assets/fonts/font-awesome/
assets/js/app.min.js
bower_components/
node_modules/

