<!-- GET IN TOUCH BLOCK  -->
<div class="container-block lavender-bg contact">
  <div class="block-title">
    <h4>Get in<span class="titles">Touch</span></h4>
  </div>

  <div class="social" itemscope="" itemtype="http://schema.org/ContactPoint" itemprop="contactPoint">
    <ul>
      <li itemscope="" itemtype="http://schema.org/ContactPoint" itemprop="contactPoint">
        <a id="hello" href="mailto:c%75duc%6F%73@gmail.com" title="E-mail">
          {% include svg/email.svg %}
        </a>
      </li>
    </ul>
  </div>

  <!--form class="contact" action="" method="POST">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" placeholder="Your name"/>
    </div>
    <div>
      <label for="email">E-mail</label>
      <input type="email" inputmode="email"id="email" placeholder="email@email.com"/>
    </div>
    <div>
      <label for="msg">Message</label>
      <textarea id="msg" placeholder="Write your message here"></textarea>
    </div>

    <button class="white" type="submit">Send</button>
  </form-->

  <footer>
    <p>
            Made with &#9829; by <a href="{{ site.url }}">Cuducos</a>, <a href="https://larusso.com.br">Larusso</a> &amp; <a href="https://github.com/rhayana-b">Rhay</a><br>
      with photos by <a href="https://www.instagram.com/tangerinestudiofotografia/">Nina</a> &amp; <a href="https://www.instagram.com/juliomelanda/">Julio</a>.
    </p>
    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
      {% include svg/cc.svg %}
    </a>
    <p>
      "Eduardo Cuducos” by <a href="{{ site.url }}">Eduardo Cuducos</a> is licensed under a
      <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
    </p>
  </footer>
</div>
