<div class="share">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url|prepend: site.url }}&via=cuducos&related=cuducos" rel="nofollow" target="_blank" title="Share on Twitter">
      {% include svg/twitter.svg %}
      Twitter
    </a>
    <a href="https://facebook.com/sharer.php?u={{ page.url|prepend: site.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
      {% include svg/facebook.svg %}
      Facebook
    </a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url|prepend: site.url }}&title={{ page.title }}&summary={{ page.title }}&source={{ site.url }}" rel="nofollow" target="_blank" title="Share on LinkedIn">
      {% include svg/linkedin.svg %}
      LinkedIn
    </a>
    <a href="http://www.reddit.com/submit?url={{ page.url|prepend: site.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Reddit">
      {% include svg/reddit.svg %}
      Reddit
    </a>
    <a href="https://plus.google.com/share?url={{ page.url|prepend: site.url }}" rel="nofollow" target="_blank" title="Share on Google+">
      {% include svg/google-plus.svg %}
      Google+
    </a>
</div>
