<ul>
  <li>
    <a href="/blog/">
      <i class="fa fa-rss"></i>
      <span>Blog</span>
    </a>
  </li>
  <li itemscope itemtype="http://schema.org/ContactPoint" itemprop="contactPoint">
    <a itemprop="url" href="https://twitter.com/cuducos">
      <i class="fa fa-twitter"></i>
      <span itemprop="name">Twitter</span>
    </a>
    <meta itemprop="contactType" content="Send a DM or a reply">
  </li>
  <li>
    <a  href="https://github.com/cuducos">
      <i class="fa fa-github-alt"></i>
      <span>GitHub</span>
    </a>
  </li>
  <li itemscope itemtype="http://schema.org/ContactPoint" itemprop="contactPoint">
    <a itemprop="url" href="https://linkedin.com/in/cuducos">
      <i class="fa fa-linkedin"></i>
      <span itemprop="name">LinkedIn</span>
    </a>
    <meta itemprop="contactType" content="Add me with a warming message">
  </li>
  <!--li itemscope itemtype="http://schema.org/ContactPoint" itemprop="contactPoint">
    <a itemprop="url" href="https://instagram.com/cuducos">
      <i class="fa fa-instagram"></i>
      <span itemprop="name">Instagram</span>
    </a>
    <meta itemprop="contactType" content="Send an inbox or comment">
  </li-->
  <li>
    <a href="https://slideshare.net/cuducos">
      <i class="fa fa-slideshare"></i>
      <span>SlideShare</span>
    </a>
  </li>
  <li>
    <a id="hello" href="znvygb:phqhpbf@tznvy.pbz">
      <i class="fa fa-envelope-o"></i>
      <span>E-mail</span>
    </a>
  </li>
</ul>
