<nav class="social">
  <ul>
    <li itemscope="" itemtype="http://schema.org/ContactPoint" itemprop="contactPoint">
      <a itemprop="url" href="https://twitter.com/cuducos/" target="_blank" title="Twitter">
        {% include svg/twitter.svg %}
      </a>
      <meta itemprop="contactType" content="Send a DM or a reply">
    </li>
    <li>
      <a href="https://github.com/cuducos" target="_blank" title="GitHub">
        {% include svg/github.svg %}
      </a>
    </li>
    <li itemscope itemtype="http://schema.org/ContactPoint" itemprop="contactPoint">
      <a itemprop="url" href="https://linkedin.com/in/cuducos" title="LinkedIn">
        {% include svg/linkedin.svg %}
      </a>
      <meta itemprop="contactType" content="Send me a message">
    </li>
    <li>
      <a href="https://speakerdeck.com/cuducos" target="_blank" title="Speaker Deck">
        {% include svg/speakerdeck.svg %}
      </a>
    </li>
    <li>
      <a id="hello" href="mailto:c%75duc%6F%73@gmail.com" title="E-mail">
        {% include svg/email.svg %}
      </a>
    </li>
  </ul>
</nav>
