<ul>
  <li>
    <a href="https://twitter.com/cuducos">
      <i class="fa fa-twitter"></i>
      <span>Twitter</span>
    </a>
  </li>
    <li>
      <a href="https://github.com/cuducos">
        <i class="fa fa-github-alt"></i>
        <span>GitHub</span>
      </a>
  </li>
    <li>
      <a href="https://linkedin.com/in/cuducos">
        <i class="fa fa-linkedin"></i>
        <span>LinkedIn</span>
      </a>
  </li>
  <!--li>
      <a href="https://instagram.com/cuducos">
        <i class="fa fa-instagram"></i>
        <span>Instagram</span>
      </a>
  </li-->
    <li>
      <a href="https://slideshare.net/cuducos">
        <i class="fa fa-slideshare"></i>
        <span>SlideShare</span>
      </a>
  </li>
    <li>
      <a id="hello" href="znvygb:phqhpbf@tznvy.pbz">
        <i class="fa fa-envelope-o"></i>
        <span>E-mail</span>
      </a>
  </li>
</ul>
