a
  color: $link_fg

section.avatar
  img
    @include prefixer(box-shadow, 0 0 .1rem .1rem $drop_shadow_bg, webkit moz spec)
    border-radius: 50%
    opacity: .85
  h1
    font-family: 'Bariol', $helvetica
    font-size: 1.68rem
    text-transform: uppercase
    span
      font-size: 1.32rem
      font-weight: normal
      text-transform: none

section.social
  li
    span
      display: none
    i
      background-color: #ce1e79
      border-radius: 50%
      color: $link_social_fg
      font-size: 1rem
      line-height: 2rem
      vertical-align: middle
      width: 2rem
      @include media($desktop)
        font-size: 1.38rem
        line-height: 2.5rem
        width: 2.5rem
