section.avatar
  a:hover
    color: $text_fg

section.about, .blog article
  a:hover
    color: $link_fg
    background: $link_hover_bg
  p.center a:hover
    background: transparent

nav.social
  a:hover
    color: $link_fg

.blog
  sidebar
    img
      width: 38%
    h1
      font-weight: normal
      text-transform: none
    nav.social
      li
        i
          font-size: 1rem
          line-height: 2rem
          width: 2rem
  .social
    a
      +media($desktop)
        +size(2rem)
        padding-top: .45rem
    svg
      +media($desktop)
        +size(1rem)
  &.home
    ol, ul
      margin: 0
    li
      list-style-type: none
      margin: 1rem 0 0 0
      +media($desktop)
        margin: 0
      &:before
        display: none
        content: ''
    .social
      li
        margin-left: .38rem
        &:first-child
          margin-left: 0
  .share
    a:hover
      background-color: $link_social_bg
      color: $link_social_fg
