---
---

// grid settings
$grid-columns: 6

// frameworks
@import 'bourbon/bourbon'
@import 'neat/neat'
@import 'base/base'

// breakpoints
$desktop: new-breakpoint(min-width 960px)
$wide: new-breakpoint(min-width 1366px)

// project styles
@import 'colors'
@import 'fonts'
@import 'mixins'
@import 'blocks'
@import 'elements'
@import 'modifiers'
