ul
  li
    a(href='https://twitter.com/cuducos')
      i.fa.fa-twitter
      span Twitter
  li
    a(href='https://github.com/cuducos')
      i.fa.fa-github-alt
      span GitHub
  li
    a(href='https://linkedin.com/in/cuducos')
      i.fa.fa-linkedin
      span LinkedIn
  li
    a(href='https://instagram.com/cuducos')
      i.fa.fa-instagram
      span Instagram
  li
    a(href='https://slideshare.net/cuducos')
      i.fa.fa-slideshare
      span SlideShare
  li
    a#hello(href='znvygb:phqhpbf@tznvy.pbz')
      i.fa.fa-envelope-o
      span E-mail
