ul
  li
    a(href='https://twitter.com/cuducos')
      i.fa.fa-twitter-square
      span Twitter
  li
    a#hello(href='znvygb:phqhpbf@tznvy.pbz')
      i.fa.fa-envelope
      span E-mail
  li
    a(href='https://linkedin.com/in/cuducos')
      i.fa.fa-linkedin-square
      span LinkedIn
  li
    a(href='https://github.com/cuducos')
      i.fa.fa-github-square
      span GitHub
  li
    a(href='https://instagram.com/cuducos')
      i.fa.fa-instagram
      span Instagram
