---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html%}

<body class="{% if page.class_name %}{{ page.class_name }}{% else %}blog{% endif %}">

    <div id="wrapper">

      {% include header.html %} 

      <main>
        <div class="outer">
          <div class="inner">
            {{ content }}
          </div><!-- end div.inner -->
        </div><!-- end div.outter -->
      </main>

      {% include footer.html %} 

    </div><!-- end div#wrapper -->

    {% include javascript.html %} 

  </body>
</html>

