---
layout: compress
---

<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}pt{% endif %}">

{% include head.html %}

<body>

  <div class="main-wrapper">
    <!-- LANGUAGE NAVBAR
    <div class="navbar">
      <div class="dropdown">
        <button onclick="Click()" class="dropbtn">English<i class="fas fa-caret-down"></i></button>
        <div id="langDropdown" class="dropdown-content">
          <a href="#">Português</a>
        </div>
      </div>
    </div>
    -->

    {{ content }}

    {% include footer.html %}
  </div>

  {% include javascript.html %}
</body>
</html>
