---
layout: base
---

<sidebar>
  <div itemscope itemtype="http://schema.org/Person">
    <section class="avatar">
      <a itemprop="url" href="{{ site.url }}">
        {% include avatar.html %}
        <h1 itemprop="name">
          <span itemprop="givenName">Eduardo</span>
          <span itemprop="familyName">Cuducos</span>
        </h1>
      </a>
    </section>
    <nav class="social">{% include social.html %}</nav>
  </div>
  <nav itemscope itemtype="http://schema.org/Blog" class="posts">
    {% include posts.html %}
  </nav>
  {% include schema.html %}
</sidebar>

<article itemscope itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="name">{{ page.title }}</h1>
  <p class="date">
    {{ page.date | date: "%d/%m/%Y" }}
    <meta itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">
  </p>
  <div itemprop="articleBody">{{ content }}</div>
  <meta itemprop="url" content="{{ page.url|prepend: site.url }}">
  {% if page.class_name != 'blog home' %}{% include share.html %}{% endif %}
  <nav itemscope itemtype="http://schema.org/Blog" class="posts">
    {% include posts.html %}
  </nav>
</article>
