---
layout: base
---

<!-- CONTENT BLOCKS -->
<div class="container-block lavender-bg  post-block">
  <div class="main-title">
    <span>{{ page.date | date:"%d/%m/%Y" }}</span>
    <h1>
      {{ page.title }}
    </h1>
  </div>
  <a href="/">
    <img class="avatar"src="/assets/images/cuducos-256.png" alt="Avatar" style="border-radius: 50%; width: 80px;height: 80px;">
    <div class="Cuducos">
      <h6>{{ page.author|default:"Eduardo Cuducos" }}</h6>
    </div>
  </a>
  {% include social.html %}
</div>
<section class="container-block post-block">
  <div class="post-content">
    {{ content }}
  </div>
  {% include share.html %}
</section>
{% include blog_posts.html %}